<!-- HTML은 위에서부터 코드가 실행되기 때문에 head가 다 실행되고서야 body가 실행된다. -->
<!-- head가 다 불러지지 않으면 사용자 쪽에선 백지 화면만 노출된다. -->
<!-- js의 용량이 크면 클수록 body 부분의 실행이 늦어지기 때문에 js는 body 하단에 두어 화면이 다 그려진 뒤 호출하는 것이 좋다 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>